/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWERTY 0
#define NUMBER 1
#define SYMBOL 2
#define ADJUST 3

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
                        bindings = <
   &kp TAB					&kp Q					&kp W					&kp E					&kp R					&kp T					&kp Y					&kp U					&kp I					&kp O					&kp P					&kp BSLH
   &mt LCTRL ESC			&kp A					&kp S					&kp D					&kp F					&kp G					&kp H					&kp J					&kp K					&kp L					&kp SEMI				&mt RCTRL SQT
   &kp LSHFT				&kp Z					&kp X					&kp C					&kp V					&kp B					&kp N					&kp M					&kp COMMA				&kp DOT					&kp FSLH				&kp RSHFT
   																			&kp LGUI				&mo 1					&kp RET					&kp SPACE				&mo 2					&mt RALT BSPC
                        >;
                };
                lower_layer {
                        label = "NUMBER";
                        bindings = <
   &trans					&kp PG_UP				&kp HOME				&kp UP					&kp END					&kp LC(LA(UP))			&kp LS(LA(LC(UP)))		&kp N7					&kp N8					&kp N9					&kp N0					&trans
   &trans					&kp PG_DN				&kp LEFT				&kp DOWN				&kp RIGHT				&kp	LC(LA(DOWN))		&kp LS(LA(LC(DOWN)))	&kp N4					&kp N5					&kp N6					&kp SQT					&trans
   &trans					&trans					&kp K_VOL_DOWN			&kp K_PP				&kp K_VOL_UP			&kp LG(LS(UP))			&kp LG(LS(DOWN))		&kp N1					&kp N2					&kp N3					&kp BSLH				&trans
						   													&trans					&trans					&trans					&trans					&mo 3					&trans
                        >;

                };

                raise_layer {
                        label = "SYMBOL";
                        bindings = <
   &trans					&kp PSCRN				&kp LPAR				&kp RPAR				&kp UNDER				&kp MINUS				&kp PGUP				&kp F7					&kp F8					&kp F9					&kp F10					&trans
   &trans					&trans					&kp LBKT				&kp RBKT				&kp PLUS				&kp EQUAL				&kp PGDN				&kp F4					&kp F5					&kp F6					&kp F11					&trans
   &trans					&trans					&kp LBRC				&kp RBRC				&kp TILDE				&kp GRAVE				&kp DEL					&kp F1					&kp F2					&kp F3					&kp F12					&trans
   																			&trans					&mo 3					&trans					&trans					&trans					&trans
                        >;

                };

                adjst_layer {
                        label = "ADJUST";
                        bindings = <
   &trans					&trans					&trans					&trans					&trans					&trans					&trans					&kp LG(LS(F7))			&kp LG(LS(F8))			&kp LG(LS(F9))			&kp LG(LS(F10))			&trans
   &trans					&trans					&trans					&trans					&trans					&trans					&trans					&kp LG(LS(F4))			&kp LG(LS(F5))			&kp LG(LS(F6))			&kp LG(LS(F11))			&trans
   &trans					&bt BT_CLR				&bt BT_SEL 0			&bt BT_SEL 1			&bt BT_SEL 2			&bt BT_SEL 3			&trans					&kp LG(LS(F1))			&kp LG(LS(F2))			&kp LG(LS(F3))			&kp LG(LS(F12))			&trans
						   													&trans					&trans					&trans					&trans					&trans					&trans
                        >;
                };

					
        };
};
